<plugin name='gordon-flash' version='0.4' grailsVersion='1.3.7 &gt; *'>
  <author>Eliot Sykes</author>
  <authorEmail>eliotsykes gmail</authorEmail>
  <title>Gordon Flash Grails plugin</title>
  <description>\
Gordon Flash Grails plugin protects flash scope from being cleared out unnecessarily. See https://github.com/eliotsykes/gordonflash
</description>
  <documentation>https://github.com/eliotsykes/gordonflash</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>com.jetbootlabs.gordonflash.FixtureController</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>